@model ProiectCEBD.Models.TIPURI_UNITATI_DE_CAZARE

@{
    ViewBag.Title = "Confirmare Ștergere Tip Unitate de Cazare";
}

<style>
    .container {
        max-width: 100vw !important;
    }

    .body-content {
        margin-top: 0px;
        display: flex;
        height: 100vh;
        column-gap: 20px;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    #sidebar {
        width: 20vw;
    }

    .complexuri-cazare-content {
        padding-top: 20px;
        width: 80vw;
    }

    footer {
        display: none;
    }
</style>

@Html.Partial("_Sidebar")
<div class="complexuri-cazare-content">

    <h2>Confirmare Ștergere Tip Unitate de Cazare</h2>

    <p>Sunteți sigur că doriți să ștergeți acest tip de unitatea de cazare cu numele: @Model.DENUMIRE?</p>

    @using (Html.BeginForm("StergereTipUnitateConfirmare", "Admin_Tipuri_Unitati_Cazare", new { id = Model.IDTIPURIUNITATICAZARE }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <input type="submit" value="Confirmă Ștergerea" class="btn btn-danger" />
        @Html.ActionLink("Anulează", "Index", "Admin_Tipuri_Unitati_Cazare", null, new { @class = "btn btn-default" })
    }
</div>
